/* LibrarianHomePage.css */

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: darkgray;
}

.homepage-paper {
    padding: 40px; /* Equivalent to 'p: 5' */
    margin: 40px;  /* Equivalent to 'm: 5' */
    text-align: center;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.12); /* Equivalent to the 'outlined' variant */
    color: darkgrey;
}

.homepage-typography {
    color: black;
    font-family: Palatino Linotype;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('iStock-1261031316.jpg'); /* Update the path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8; /* Optional: Adjust opacity for better contrast */
}

.homepage-paper:hover {
    background-color: lightgray;
}
