.reader-books {
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.reader-books-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    width: 50vw;
    height: calc(100vh - 64px); /* Dla AppBar, zakładając wysokość 64px */
    /*margin-top: 20px; !* Dodatkowy margines na górę *!*/
    overflow: hidden;
}

.reader-books-table {
    width: 100%;
    overflow-x: auto;
}
