html, body {
    height: 100%;
    margin: 0;
    background-color: gainsboro;
}

.librarian-add-user {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items at the top */
    align-items: center;
    background-color: gainsboro;
    /*height: 100vh; !* Full viewport height *!*/
}

.librarian-add-user-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.librarian-add-user .MuiTabs-root {
    margin-bottom: 0rem; /* Spacing between tabs and form */
}

.librarian-add-user .MuiTextField-root {
    width: 100%; /* Full width of the container */
    margin-bottom: 1rem; /* Spacing between fields */

}

.librarian-add-user .MuiButton-root {
    width: 60%; /* Half width of the container */
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Palatino Linotype';
    background-color: darkgrey;
    color: black;
    align-content: center;
    align-items: center;
    margin-top: 1rem; /* Spacing above the button */
}
