.reader-homepage {
    width: 100vw;
}
.reader-homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: darkgray;
}

.reader-homepage-paper {
    padding: 40px; /* Equivalent to 'p: 5' */
    margin: 40px;  /* Equivalent to 'm: 5' */
    text-align: center;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.12); /* Equivalent to the 'outlined' variant */
    color: darkgrey;
}

.reader-homepage-typography {
    color: black;
    font-family: Palatino Linotype;
}

.reader-background-image {
    width: 100%;
    height: 50%;
    background-image: url('iStock-1261031316.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    z-index: 0;
    bottom: 0;
}

.reader-homepage-paper:hover {
    background-color: lightgray;
}
